@import url('https://fonts.googleapis.com/css?family=Montserrat');

$font-Montserrat: 'Montserrat', sans-serif;

html,body{
    height: 100%;
    font-family: $font-Montserrat;
}
body{
    margin:0;
    background: #EB3349;
    background: -webkit-linear-gradient(to left, #F45C43, #EB3349);
    background: linear-gradient(to left, #F45C43, #EB3349);
    color: #fff;
}
.container{
    height: inherit;
    display: grid;
    grid-template: 1fr 50px / repeat(12,1fr);
    div{
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .timer{
        justify-content: space-around;
    }
    .footer{
        white-space: pre;
        font-size: 12px;
    }
}
.heart{
    animation: heartbeat 0.5s infinite alternate;
}
.timer-item{
    display: flex;
    flex-direction: column;
    .counter{
        font-size:5em;
    }
    .text{
        font-size:2em;
        text-transform: uppercase;
    }
}
.rollIn {
	animation-name: rollIn
}
.animated {
	animation-duration: 8s;
	animation-fill-mode: both
}

@media all and (max-width:430px){
    .container{
        .timer{
            flex-direction: column;
        }      
    }
}
@media all and (max-width:768px){
    .container{
        .counter{
            font-size:3em;
        }
        .text{
            font-size:1em;
        }
    }
}

@keyframes heartbeat{
    to { transform: scale(1.3); }
}
@keyframes rollIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}